@import "tailwindcss";

@theme{
  --color-primary: #FBBF24;
  --color-secondary: #F59E0B;
  --color-background: #F3F4F6;
  --color-text: #F9FAFB;
  --color-accent: #F57E0B;
  --color-border: #D1D5DB;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-hover: #1D4ED8;
  --color-active: #F59E0B;
  --color-disabled: #9CA3AF;
  --color-success: #10B981;
  --color-error: #EF4444;
  --color-warning: #F59E0B;
  --color-info: #3B82F6;
  --color-light: #F9FAFB;
  --color-dark: #111827;
  --font-family-poppins: 'Poppins', sans-serif;
}
